/* ===========================
       Widescreens
=========================== */


@include mediaXl {
  .projects { grid-template-columns: repeat(4, 1fr); }
}


/* ===========================
    Desktops & Laptops
=========================== */


@include mediaLg {
  .boxes > div { width: 90%; }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* ===========================
    Tablets & Small Laptops
=========================== */


@include mediaMd {
  .menu-btn {
    top:   25px;
    right: 25px;
  }

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    width: 100%;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu {
    flex-direction: column;
    overflow: scroll;
  }

  .menu-branding {
    height: auto;
    padding: 10px 0;
    transform: translate3d(100%, 0, 0);

    .portrait {
      height: 150px;
      width: 150px;
      background: $primary-color url('../img/portrait_small.png');
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .menu-nav {
    flex: 1;
    height: auto;
    padding-top: 50px;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    justify-content: start;

    .nav-item a {
      font-size: 24px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }


  .boxes > div {
    width: 90%;
    padding: 5px;

    span { display: block; }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* ===========================
        Smartphones
=========================== */


@include mediaSm {
  .menu-btn {
    top:   25px;
    right: 25px;
  }

  main {
    padding: 2rem;
    #home h1 { margin-top: 10vh; }

    .lg-heading {
      margin-top:1rem;
      font-size: 5rem;
    }
  }

  .boxes > div {
    width: 90%;
    padding: 5px;
    font-size: 20px;

    span { display: block; }
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
